body {
  background: whitesmoke;
}

.app-grid-container {
  max-width: 1000px;
  min-height: 700px;
  margin: 20px auto auto auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: yellow;
  border: 1px solid black;
  box-shadow: 5px 5px rgb(10, 10, 10);
}

.app-grid-item-search {
  text-align: right;
}
