caption-heading {
  font-family: "Croissant One", cursive;
  font-size: 350%;
  color: yellow;
}

caption-subheading {
  font-family: "Montserrat", sans-serif;
  font-size: 125%;
  color: white;
  background: black;
  padding: 10px;
  border-radius: 5px;
}
