body {
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing-page-grid-container {
  text-align: center;
  margin: 0 auto;
  padding: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: transparent;
}

.intro-copy {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 200%;
  padding: 100px;
  font-family: "Montserrat", sans-serif;
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.landing-page-button {
  height: 50px;
  width: 200px;
  background: rgb(91, 3, 255);
  border: none;
  border-radius: 30px;
  color: yellow;
  font-size: 120%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing-page-button:hover {
  background: yellow;
  color: black;
}

.landing-page-button:focus {
  outline: none;
}

.landing-page-link {
  text-decoration: none;
}

a .landing-page-link:hover {
  text-decoration: none;
  color: white;
}

/* animation for blinking cursor */
.cursor {
  animation: blinker 0.75s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
