.landing-page-grid-container {
  text-align: center;
  max-width: 1000px;
  min-height: 700px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: black;
}

.landing-page-button {
  height: 50px;
  width: 200px;
  background: yellow;
  border: solid 5px black;
  color: black;
  font-size: 120%;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  margin: 10px;
}

.landing-page-button:hover {
  background: firebrick;
  color: white;
}

.landing-page-link {
  text-decoration: none;
}

a .landing-page-link:hover {
  text-decoration: none;
  color: white;
}
