* {
  border: 100px;
}
.grid-item-jargon-explanation-newsListings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.grid-item-jargon {
  margin-top: 50px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-size: 200%;
}

.grid-item-explanation {
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 125%;
  line-height: 120%;
}

.newslistings-button {
  position: fixed;
  height: 50px;
  width: 200px;
  top: 700px;
  right: 350px;
  background: yellow;
  border: solid 5px black;
  color: black;
  font-size: 120%;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

.newslistings-button:hover {
  background: black;
  color: yellow;
}

.grid-item-newsListings {
  font-family: "Titillium Web", sans-serif;
}

.newslistings-article {
  font-weight: bold;
}

.grid-item-jargon-explanation-newsListings p {
  font-family: "Titillium Web", sans-serif;
}

.intro-line-to-listings {
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
}

#newslistings-span {
  font-weight: 300;
}

.newslistings:hover {
  background: gray;
  color: white;
}
